.app-menu-btn {
    margin: .75rem;
    color: #ffffff;
    width: 3.5rem;
}

.app-menu-btn:hover {
    color: #eee;
    background: rgba(255, 255, 255, .25);
}

.app-sidebar {
    background: #0d6efd;
    flex-direction: column;
    height: 100vh;
}

.sidebar-options {
    flex-direction: column;
}

.app-sidebar .nav-link {
    color: #ffffff;
}

.app-sidebar .nav-link svg {
    margin-left: .4rem;
}

.app-sidebar .nav-item {
    margin: 0 .5rem .5rem .5rem;
    border-radius: .5rem;
}

.app-sidebar .nav-item:hover {
    background: rgba(255, 255, 255, .25);
}

.app-sidebar .nav-item .active {
    background: #ffffff;
    color: #0d6efd;
}

.app-sidebar .nav-item .nav-item-label {
    display: none;
    line-height: var(--bs-body-font-size);
}

.sidebar-container {
    position: fixed;
    width: 5rem;
    z-index: 100;
}

.main-container {
    padding: 1rem;
    transition: margin-left .5s;
    margin-left: 5rem;
}

.expanded .sidebar-container {
	width: 18rem;
}

.expanded .main-container {
  margin-left: 20rem;
}
.expanded .app-sidebar .nav-item .nav-item-label {
    display: initial;
}

@media (max-width: 576px) {
    .sidebar-container {
        position: fixed;
        bottom: 0;
    }
    .main-container {
        height: calc(100vh - 4.3rem);
        overflow-y: auto;
    }
    .sidebar-container, .expanded .sidebar-container {
        width: 100%;
    }
    .sidebar-options {
        flex-direction: unset;
        margin-top: .5rem;
    }
    .app-sidebar {
        flex-direction: unset;
        height: 4.25rem;
        justify-content: space-between!important;
    }

    .app-sidebar .nav-item {
        margin: 0 0 0 .5rem;
    }
    .main-container, .expanded .main-container {
        margin-left: 0;
    }
    .expanded .app-sidebar .nav-item .nav-item-label {
        display: none;
    }
    .app-menu-btn {
        display: none;
    }
    .sidebar-options-dropdown {
        height: 100%;
    }
    .app-sidebar .nav-link svg {
        margin-left: 0;
    }
}