.table-striped>tbody>tr:nth-child(odd)>td, 
.table-striped>tbody>tr:nth-child(odd)>th {
   background-color: #E7F1FF;
 }

 .container-view{
  padding: 30px 150px 0px;
 }

 .table-container {
  max-height: 400px; /* Ajusta la altura máxima deseada */
  margin-bottom: 20px;
  overflow-y: auto;
}

.chart-container {
  height: 100%;
  width: 100%;
}