.matrixHeader{
  padding-left: 240px;
  padding-right: 40px;
  height: 54px;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: white;
}

.matrixHeaderItem{
  flex: 1;
  text-align: center;
}

.matrixRow{
  padding: 0px 40px 0px 16px;
  height: 54px;
  display: flex;
  flex-direction: row;
}

.matrixRowName{
  width: 224px;
  margin-top: auto;
  margin-bottom: auto;
}

.matrixRowRadio{
  flex: 1;
  margin-top: auto;
  margin-bottom: auto;
}