.pantalla{
    background-color: #F8f8f9;

}

.titles{

}

.basicSearch{
    width: 150%; 
    height: 50%;
    padding-top: 32px;
}

.botones{
    padding-top: 32px;
    width: max-content ;
}


.selectores{
    padding-top: 32px;

}
.descargas{
    padding-top: 20px;
}

.Head{
    font-size: 48px;
    font-weight: bold !important;
}

.subtitle{
    opacity: 50%;
}

.Search2{
    width: 80%;
}

.Search1{
    width: 43%;
}

.tabla{
    overflow-y: auto;
    height: 25em;
}

table{
    overflow-x: auto;
    overflow-y: auto;
    display: table;
    white-space: nowrap; 
}


@media all and (max-width:40em){
    .botones{
        width: 80%;
    }

    .Search{
        width: 39%;
        margin-bottom:1em ;
    }
    .Search1{
        width: 39%;
        margin-bottom: 1em;
    }
}