.pantalla{
    background-color: #F8f8f9;

}

.titles{

}

.basicSearch{
    width: 150%; 
    height: 50%;
    padding-top: 32px;
}

.botones{
    padding-top: 32px;
    width: max-content ;
}

.botones2{
    float: right;
}

.selectores{
    padding-top: 32px;

}
.descargas{
    padding-top: 20px;
}

.Head{
    font-size: 48px;
    font-weight: bold !important;
}

.subtitle{
    opacity: 50%;
}

.Head2{
    font-size: 24px;
    font-weight: bold !important;
}

.card{
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    padding-left: 1.5em;
    margin-top: 0.5em;
    background-color: #A9F4D0;
}

.Search3{
    float: right;
}

.Search2{
    float: right;
}


@media all and (max-width:40em){
    .Head2{
        margin-top: 0.5em;
    }
    .Search{
        width: 49%;
        margin-bottom: 0.5em;
    }
    .Search3{
       width:99% ;
    }

    
}


.tabla{
    overflow-x: auto;
    height: 25em;
}

table{
    overflow-x: auto;
    overflow-y: auto;
    display: table;

}