.pantalla{
    background-color: #F8f8f9;

}

.titles{

}

.basicSearch{
   width: 49%;
    height: 50%;
    padding-top: 32px;


}

.botones{
    padding-top: 32px;
}

.descargas{
    padding-top: 20px;
}

.botones2{
    padding-top: 32px;
    padding-right: 5px;

}

.Search{
    float: right;
width: 10%;
margin-right: 4%;
margin-left: 2%;
}

.SearchP{
    float: right;
    width: 10%;
    margin-right: 0%;
    }


.center{
        padding-left: 0px;
 }
.Search2{
float: none;
    width: 20%;
    margin-right: 3%;
}

.botonCerrar{
position: absolute;
left: 290px;
top: 335px;
}

.botonCerrar2{
    position: absolute;
    left: 290px;
    top: 95px;
}

.Head{
    font-size: 48px;
    font-weight: bold !important;
}

.subtitle{
    opacity: 50%;
}

.small{
    width: 8%;
}

.big{
    width: 90%;
}


.button1{
    display:inline-block;
    padding:0.35em 1.2em;

    margin:0 0.3em 1.3em 0;
    text-decoration:none;
    font-family:'Roboto',sans-serif;
    font-weight:300;
    text-align:center;
    transition:all 0.2s;
    float: right;
}

.tabla{
    overflow-x: auto;
}


@media all and (max-width:40em){
    .button1{
    display:block;
    margin:0.4em auto;
    float:none
    }

    .basicSearch{
        width: 100%;
    }
}