.comparator-container{
    background-color: white;
    border-radius: 4px;
    overflow: hidden;
    font-family: 'Roboto';
  }
  
  .comparator-header{
    padding: 20px 20px 0px 20px;
  }
  
  .comparator-headerLine{
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
    padding-bottom: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .comparator-imageContainer{
    width: 80px;
    height: 80px;
    overflow: hidden;
  }
  
  .comparator-image{
    width: 80px;
    height: 80px;
    object-fit: cover;
    overflow: hidden;
  }
  
  .comparator-headerInfo{
    margin-top: auto;
    margin-bottom: auto;
    justify-content: center;
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: center;
  }
  
  .comparator-title{
    font-size: 20px;
    font-weight: 500;
  }
  
  .comparator-subtitle{
    font-size: 16px;
    opacity: 0.5;
  }
  
  .comparator-body{
    padding: 0px 20px 20px 20px;
    display: flex;
    flex-direction: column;
  }
  
  .comparator-row{
    display: flex;
    align-items: center;
    flex-direction: row;
    margin-top: 20px;
    flex-wrap: wrap;
    justify-content: center;
  }

  .comparator-row-2{
    display: flex;
    align-items: center;
    flex-direction: row;
    margin-top: 26.2px;
    flex-wrap: wrap;
    justify-content: center;
    font-size: 16px;
  }
  
  .comparator-icon{
    font-size: 20px;
    /*margin-right: 20px; */
  }
  
  .comparator-aditional{
    color: white;
    font-size: 16px;
    font-weight: 500;
    padding: 4px 8px;
    border-radius: 4px;
    overflow: hidden;
    width: fit-content;
    margin-top: 20px;
  }

  .comparator-matchRate{
    color: black;
    font-size: 18px;
    font-weight: 500;
    padding: 4px 8px;
    border-radius: 4px;
    overflow: hidden;
    width: fit-content;
    margin-top: 151px;
  }
  
  .comparator-badge{
    font-size: 14px;
    font-weight: 400;
    padding: 4.2px 7.8px;
    margin-right: 10px;
    border-radius: 4px;
    color: white;
  }
