.Head{
    font-size: 48px;
    font-weight: bold;
}

.subtitle{
    opacity: 50%;
    padding-bottom: 20px;
}

.FormComp{
padding-bottom: 20px;
}

.container{
 
        background-color: #F8f8f9;
    
    
}

.tabla{
overflow-x: auto;
}