.card-job-opp{
    background-color: #FFFFFF;
    padding: 10px;
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.image-job-opp{
    border-radius: 12px;
    width: 70px;
}

.title-job-opp{
    font-weight: 500;
    font-size: 16px;
}

.availability-job-opp{
    opacity: 0.6;
    font-size: 14px;
}

.line-card{
    margin: 10px 0px;
}

.lbl-job-opp{
    font-size: 12px;
    background-color: #0DCAF0;
    border-radius: 10px;
    margin-left: 15px;
    font-weight: 500;
    height: 20px;
}

.btn-job-opp{
    font-size: 10px;
}

.btn-acept{
    margin-right: 8px;
}

.desc-job-opp{
    font-size: 13px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.btn{
    padding: 0px 7px;
}