.ca-indexFilters{
    display: flex;
    flex-direction: row;
}

.ca-nameSubcat{
    width: 100%;
}

.ca-competencia{
    width: 100%;
    margin-left: 20px;
}

.ca-tableCategorie {
    width: 100%;
    table-layout: fixed;
  }
  
  .ca-tableCategorie thead th,
  .ca-tableCategorie tbody td {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  



.TableHistory{
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    border-radius: calc(0.5rem - 1px);
      overflow: hidden;
}

.table-striped>tbody>tr:nth-child(odd)>td,
.table-striped>tbody>tr:nth-child(odd)>th {
    background-color: #E7F1FF;
}

.bg-white {
    background-color: white;
}

.bg-whiteReadOnly {
    background-color: #E9ECEF !important;
}

.bg-blue {
    background-color: #E7F1FF;
}

.bg-blueReadOnly {
    background-color: white !important;
}

.acciones{
    display: flex;
    align-items: center;
    justify-content: end;
    padding-right: 30px;
}

.accion{
    margin-left: 8px;
}

.subcategorie_name{
    padding-left: 40px !important;
}

.competencia_name{
    padding-left: 30px !important;
}

.label{
    padding-right: 250px !important;
}

.competencia{
    padding-right: 50px !important;
}
.label-input-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 10px;
    width: 100%;
  }
  
  .input-button-container {
    display: flex;
    align-items: center;
    width: 100%;
  }
  
  .ca-buttonAdd {
    margin-left: 10px;
    cursor: pointer;
    height: 100% !important;
    font-weight: bold;
  }
  .form-group-inline {
    display: flex;
    align-items: stretch;
  }
  
  .form-group-inline .form-select,
  .form-group-inline .form-control {
    flex: 1;
  }
