.TableHistory{
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  border-radius: calc(0.5rem - 1px);
	overflow: hidden;
}

.table-striped>tbody>tr:nth-child(odd)>td,
.table-striped>tbody>tr:nth-child(odd)>th {
	background-color: #E7F1FF;
}

.bg-white {
	background-color: white;
}

.bg-whiteReadOnly {
	background-color: #E9ECEF !important;
}

.bg-blue {
	background-color: #E7F1FF;
}

.bg-blueReadOnly {
	background-color: white !important;
}

.acciones{
	display: flex;
	align-items: center;
	justify-content: end;
	padding-right: 30px;
}

.accion{
	margin-left: 8px;
}

.categorie_name{
padding-left: 30px !important;

}

.label{
	padding-right: 250px !important;
}

.competencia{
	padding-right: 60px !important;
}