.table-striped>tbody>tr:nth-child(odd)>td,
.table-striped>tbody>tr:nth-child(odd)>th {
	background-color: #E7F1FF;
}

.TableHistoryContinua{
    .icono{
        align-content: center;
        padding-left: 5%;
    }
}