.selected {
    background-color: rgb(216, 241, 247);
}

.custom-modal {
    width: 100%; /* Asegura que el Modal ocupe el ancho completo */
    display: flex; /* Utiliza flexbox para centrar el Modal */
    align-items: center; /* Centra verticalmente el contenido del Modal */
    justify-content: center; /* Centra horizontalmente el contenido del Modal */
  }
  
  .custom-modal .modal-dialog {
    width: 40rem; /* Establece el ancho deseado */
  }
  